### Jprogdyn Configuration File ###

# This file controls the behavior of Jprogdyn.
# By default, Jprogdyn will use "Jprogdyn.conf" as the current configuration file.
#
# To switch to a custom file:
# mvn exec:java -Dconfig.filename="another.config"

# Blank lines and comments starting with # are ignored.
# Comments may be placed after any configuration value with a #.
# All options must be specified on one line.

# File/Directory Locations
working_directory                           : use_current                                           # specify full path or "use_current" to use the current working directory

frequency_directory                         : test_files                                            # path relative to working_directory where Jprogdyn should expect the
                                                                                                    # Gaussian output files to use for initializing trajectories

frequency_file                              : methane_b3lyp_midix.out                               # the file to read in frequencies from (Gaussian output with freq=hpmodes)

gaussian_directory                          : gaussian                                              # path relative to working_directory in which to run Gaussian jobs
                                                                                                    # run_gaussian.sh is expected in this directory

gaussian_max_filenames                      : 10000                                                 # maximum number of job filenames (should not need to be changed)

# Threading Options
number_of_simultaneous_trajectories         : 9                                                     # how many trajectories to run simultaneously


# Gaussian Options
number_of_processors_per_trajectory         : 4                                                     # how many processors to use per Gaussian job

memory_per_trajectory                       : 3                                                     # how much RAM to use per trajectory in GB

gaussian_force_route_card                   : b3lyp/midix pop=none                                  # the route card to pass to Gaussian for a regular force job
                                                                                                    # Jprogdyn will add all other necessary keywords -- just put in
                                                                                                    # the level of theory/solvation

gaussian_force_footer                       : @blank                                                # stuff to put at the end of every force job (one line please)


# Trajectory Options
job_type                                    : analysis                                            # specify "trajectory" to run trajectories or "analysis"
                                                                                                    # to analyze existing checkpoints

trajectory_type                             : nmr                                              # specify "reaction" to run/analyze a reaction trajectory or
                                                                                                    # specify "nmr" to run/analyze an NMR trajectory

number_of_total_trajectories                : 25                                                    # how many trajectories to run in total

checkpoint_directory                        : checkpoints                                           # path relative to working_directory where Jprogdyn should expect the
                                                                                                    # any existing trajectory checpoints to be (progress will also be
                                                                                                    # saved here)

checkpoint_prefix                           : methane                                               # all checkpoint files will have this prefix

checkpoint_interval                         : 5                                                     # save progress every n points, must be between 1 and 50 inclusive

temperature                                 : 298.0                                                 # in K

timestep                                    : 1.0                                                   # timestep in fs

number_of_forward_points                    : 125                                                   # how many forward points to compute

number_of_backward_points                   : 125                                                   # how many backward points to compute

# Initialization Options
maximum_number_of_initialization_attempts   : 50                                                    # try to initialize this many times per trajectory then give up
                                                                                                    # must be at least 10

harmonic_tolerance                          : 0.01                                                  # the maximum allowable difference between the desired and actual
                                                                                                    # energies of the initial structure in percent
                                                                                                    # must be at least 0.0001 and less than 10.0
                                                                                                    # 0.01 is a good starting value

scale_factor                                : 1.0                                                   # vibrational frequencies will be scaled by this factor
                                                                                                    # (1.0 recommended, which is to say no scaling)
                                                                                                    # must be between 0.5 and 1.5

# draw the initial displacements from...
# quasiclassical = a quantum mechanical canonical ensemble
# classical      = a classical mechanical canonical ensemble
# uniform        = a uniform classical distribution
# ts_positive    = zero displacement but forward velocity
# ts_negative    = zero displacement but negative velocity
# ts_random      = zero displacement but random velocity sign
# none           = do not displace

vibrational_initialization_default          : quasiclassical                                        # all vibrational modes will be initialized this way unless specified
                                                                                                    # otherwise below

vibrational_initialization_override         : no_overrides                                          # set to no_overrides or a semicolon-separated list of the form
                                                                                                    # 0:ts_positive;1:none
                                                                                                    # which means initialize mode 0 with no displacements and positive
                                                                                                    # velocity and initialize mode 1 with no displacements and no velocity
                                                                                                    # modes are 0-indexed

rotational_initialization_type              : classical                                             # what kind of rotational initialization to do (classical or none)


# Reaction Trajectory Termination Conditions
# Note: these options will be ignored if trajectory_type is set to "nmr."
#
# If you want to run all points, comment out all these lines.
# If you want to specify more than one termination condition, add multiple lines that start with
# "termination_condition."  If any condition is met, the trajectory will stop.
#
# To use no termination conditions, place a single line: termination_condition : no_termination_conditions
#
# In this example, the first condition means to stop the trajectory if the C-F bond distance
# between atoms 8 and 13 exceeds 3 A.  Atom numbers are 1-indexed.

                                                                                                    # description of fields:
termination_condition                       : bond_length, 8, 13, C-F, greater_than, 3.0            # bond_length, bond_angle, torsion
termination_condition                       : bond_length, 8, 17, C-Cl, greater_than, 4.0           # next fields = atom numbers (2, 3, or 4 fields)
                                                                                                    # description = one word
                                                                                                    # stop when the internal coordinate is greater_than, equal, or
                                                                                                    # less_than to the given number

# NMR Calculations
# Note: these options will be ignored if trajectory_type is set to "reaction".

nmr_point_interval                          : 8                                                     # how often in number of trajectory points to calculate NMR shieldings
                                                                                                    # (8 is recommended)

shieldings_file                             : methane_b3lyp_midix_NMR_b3lyp_dz.out                  # the file containing the NMR shieldings for the stationary point
                                                                                                    # at the NMR level of theory
                                                                                                    # (expected in working_directory/frequency_directory)

gaussian_nmr_route_card                     : b3lyp/cc-pvdz                                         # the route card to pass to Gaussian for an NMR job
                                                                                                    # place in quotes, all one line, use \n for new lines
                                                                                                    # Jprogdyn will add all other necessary keywords -- just put in
                                                                                                    # the level of theory/solvation, don't add NMR keyword

                                                                                                    # stuff to put at the end of every NMR job (one line please)
gaussian_nmr_footer                         : @blank

symmetry_groups                             : 2,3,4,5                                               # list of sets of symmetry-related atoms to average shieldings over
                                                                                                    # use a semicolon to specify multiple groups
